<section class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-lg-5 col-md-8 py-8 py-xl-0">
            <!-- Card -->
            <div class="card shadow">
                <!-- Card body -->
                <div class="card-body p-6">
                    <div class="mb-4">
                        <a href="https://geeksui.codescandy.com/geeks/index.html"><img style="width: 205px;"
                                src="assets/images/logo/logo.png" class="mb-4" alt="logo-icon" /></a>
                        <h1 class="mb-1 fw-bold">Mot de passe oublié</h1>
                        <p>Remplissez le formulaire pour réinitialiser votre mot de passe.</p>
                    </div>
                    <!-- Form -->
                    <form>
                        <!-- Email -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" class="form-control" name="email"
                                placeholder="Entrer votre Email" required />
                        </div>
                        <!-- Button -->
                        <div class="mb-3 d-grid">
                            <button type="submit" class="btn btn-primary">
                                Envoyer le lien de réinitialisation
                            </button>
                        </div>
                        <span>Retourner à <a style="cursor: pointer;" (click)="openUrl('login')">s'identifier</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>